<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Додай нове місто</title>
</head>
Додай нове місто
<body>
<p style="color:red" th:text="${message}"></p>
<form th:action="@{/save_new_city}" method="POST" enctype="multipart/form-data">
    <div><label> Місто : <input type="text" name="title"/> </label></div>
    <div><label> Країна: <input type="text" name="country"/> </label></div>
    <input type="file" name="file">
    <div><input type="submit" value="Додати"/></div>
</form>
<a th:href="@{/all_cities}">Назад</a>
</body>
</html>