<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    Всі користувачі
</head>
<body>
<table>
    <tr>
        <th>Ім'я</th>
        <th>Роль</th>
        <th></th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getUsername}">username</td>
        <td th:text="${user.getRoles}">roles</td>
<!--        <td><a th:href="@{/user/{user}}">edit</a></td>-->
        <td><a th:href="@{/user/{id}(id=${user.getId()})}">edit</a></td>

    </tr>
</table>
<br/>
<a th:href="@{/menu}">Назад</a>
</body>
</html>