<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Spring Security Example </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
<div style="color:red" th:if="${param.error}">
  Введені неправильні дані або користувач не активований
</div>
<div th:if="${param.logout}">
  Ти вийшов з акаунту.
</div>
<p style="color:blue" th:text="${message}"></p>
<form th:action="@{/login}" method="POST">
  <div><label> Ім'я : <input type="text" name="username"/> </label></div>
  <div><label> Пароль: <input type="password" name="password"/> </label></div>
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <div><input type="submit" value="Sign In"/></div>
</form>
Якщо ти не зареєстрований то зареєструйся
<br/>
<a th:href="@{/registration}">Зареєструватися</a>
</body>
</html>