<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
Привіт, це гра "Mіста". Напевно ти таку раніше грав.
<br/>
Суть в тому, що ти кажеш назву населеного
<br/>
пункту і той з ким ти граєш, називає
<br/>
населений пункт на останню літеру.
<br/>
Ти зіграєш проти комп'ютера. Поки він знає мало
<br/>
населених пунктів, але зауваж він вміє вчитися. Все що
<br/>
ти використаєш проти нього, в майбутньому він використає проти тебе.
<br/>
<a th:href="@{/menu}">Головне меню</a>
</body>
</html>