<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<a th:href="@{/play}">Грати</a>
<br/>
<!--<a th:text="'Hello! ' + ${name}">hello</a>-->
<a th:href="@{/all_cities}">Всі міста</a>
<br/>
<a th:href="@{/best_results}">Таблиця результатів</a>
<br/>
<a th:href="@{/user/profile}">Мій профіль</a>
<br/>
<a th:href="@{/user}">Всі користувачі</a>
</body>
</html>