<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<form th:method = "GET" th:action = "@{/save_used}" th:object = "${city}">
    <label for = "title">Введи назву міста</label>
    <input type="text" th:field = "*{title}" id="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name Error</div>
    <br/>
    <input type="submit" value="Підтвердити"/>
</form>
<p th:text="${botsCity.getTitle()}">city</p>
<br/>
<a th:href="@{/to_lose}">Програти</a>
</body>
</html>