<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<p style="color:green" th:text="${message}"></p>
<a th:text="${username}">username</a>
<a th:href="@{/user/update_username}">Змінити</a>
<br/>
<a th:text="${email}">email</a>
<a th:href="@{/user/update_email}">Змінити</a>
<br/>
<a th:href="@{/user/update_password}">Змінити пароль</a>
<br/>
<a th:href="@{/menu}">Назад</a>
</body>
</html>