<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
Реєстрація
<p style="color:blue" th:text="${message}"></p>

<form th:action="@{/registration}" th:object="${user}" method="POST" >
    <label for="username">Iм'я: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div>
    <div><label> Пароль: <input type="password" name="password"/> </label></div>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</div>
    <div><label> Повторіть пароль: <input type="password" name="password2"/> </label></div>
    <p style="color:red" th:text="${passwordError}"></p>
    <div><label> Email: <input type="email" name="email"/> </label></div>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div><input type="submit" value="Sign Up"/></div>
</form>
Після того, як ти зареєструєшся, тебе перекине на попередню сторінку і зможеш ввійти в свій акаунт
</body>
</html>