<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<!--<div th:if="${param.error}">-->
<!--    Неправильне ім'я чи пароль.-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
<!--    Ти вийшов з акаунту.-->
<!--</div>-->
Реєстрація
<p th:text="${message}"></p>
<form th:action="@{/registration}" method="POST">
    <div><label> Ім'я : <input type="text" name="username"/> </label></div>
    <div><label> Пароль: <input type="password" name="password"/> </label></div>
    <div><label> Email: <input type="email" name="email"/> </label></div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div><input type="submit" value="Sign Up"/></div>
</form>
Після того, як ти зареєструєшся, тебе перекине на попередню сторінку і зможеш ввійти в свій акаунт
</body>
</html>