<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Try again</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<form th:method = "GET" th:action = "@{/save_used}" th:object = "${city}">
  <label for = "title">Введи назву міста</label>
  <input type="text" th:field = "*{title}" id="title"/>
  <br/>
  <input type="submit" value="Підтвердити"/>
</form>
<a style="color:red"> Таке місто вже використалося або місто починається на іншу літеру або ти щось вигадуєш і його не існує</a>
<p th:text="${botsCity}">city</p>
<br/>
<a th:href="@{/menu}">Головне меню</a>
</body>
</html>